
<!doctype html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">

	<title>Erik Lopes do Nascimento - Data Engineering | Desenvolvedor Back-End</title>
	<!-- Meta -->
	<meta name="author" content="Erik Lopes do Nascimento">
	<meta name="description" content="Erik Lopes do Nascimento - Desenvolvedor Web">

	<!-- META TAGs RESPONSIVO -->
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- CSS -->
	<link href="css/estilos.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sen:400,700,800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="shortcut icon" href="imagens/favicon.ico">
</head>

<body>

	<header id="topo">
		<div class="container">

			<div id="capa_img_autor">
				<img src="/imagens/1714757914017.jpeg" alt="Foto Perfil" title="DevOps | Data Engineering"/>
			</div>

			<div id="info_topo">
				<h1>Erik Lopes do Nascimento</h1>
				<h2>DevOps | Data Engineering</h2>
				<ul>
					<li>
						<a href="https://www.linkedin.com/in/erik-lopes-5133841a0/" title="LinkeIn" target="_blank">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</li>
					<li>
						<a href="https://github.com/eriklopesp" title="Github" target="_blank">
							<i class="fab fa-github-alt"></i>
						</a>
					</li>
				</ul>
			</div>

			<a href="https://api.whatsapp.com/send?phone=5511915868886&text=Contato%20Via%20Web" target="_blank" class="btn_wpp">
				<i class="fab fa-whatsapp"></i>
				Entre em Contato
			</a>

		</div>
	</header>


	<section id="geral">
		<div class="container">
			<main>
				<div id="col_left">

				
					<div class="box_branco">
						<h1>Sobre:</h1>
						<p>
						<p>Especialista em Engenharia de Dados e Análise de Negócios.</p>

						<p> Minha experiência abrange a criação de pipelines de dados completo, extração, manipulação, análise até a visualização dos dados em alguma ferramenta de Data Viz. Tenho uma sólida experiência com Power BI, domínio da linguagem DAX para criação de tabelas, medidas e colunas de acordo com o contexto necessário. Já atuei em outras tecnologias com esta finalidade, como Tableau, Grafana e o próprio Data Studio.</p>	
							
						<p>	Domínio da linguagem M e de SQL's de Bancos de Dados sequenciais (relacionais). Uso de funções armazenadas para automatização de análises e procedures para automatização do processo de payload dos dados. Especialista em tuning SQL, análise de traces do log, sempre com intuito de otimizar a performance dos meus relatórios e exigir menos recursos do servidor, além de ficar menos suscetível a erros de processamento.</p>
							
						<p>	Utilizei bastante Python para a automatização de envio de alguns relatórios, usando bibliotecas como pandas, MIMEBase, create_engine, numpy, entre outras. Também utilizei bastante Python para tratar dados JSON ou XML, uma vez que essas funções via SQL sobrecarregam a performance da consulta.
							
							Também possuo experiência com requisições API, realizando essa integração através do JavaScript, e gerando updates em fila no banco. Possuo algumas estratégias de update em massa, como a criação de uma fila através do próprio SQL, para que haja um processamento linha por linha, afim de evitar algum overflow de memória.
							
							Creio ser importante priorizar as boas práticas do TI, para que a operação e os deploys possam ser sustentáveis a longo prazo.
							
							Um entusiasta da tecnologia, e na constante busca por mais conhecimento.</p>
					</div>

				</div>

				<div id="col_right">
					<div class="box_branco">
						<ul class="links_info">
							<li><i class="fas fa-map-marker-alt"></i> São Paulo / SP - Brasil</li>
							<li>
								<i class="fas fa-envelope"></i>
								
								<a href="mailto:romulo@siqueira.info">x4erick@gmail.com</a>
							</li>
						</ul>
						<br/>
					</div>

					<div class="geral">
						
						<h1 id="teste2"> Skills </h1>
						
						<div class="box_skills">
							<h2>SQL</h2>
							<div class="base_cinza">
								<div class="cor_largura" style="width:95%"></div>
							</div>
						</div>

						<div class="box_skills">
							<h2>Power BI</h2>
							<div class="base_cinza">
								<div class="cor_largura" style="width:100%"></div>
							</div>
						</div>

						<div class="box_skills">
							<h2>Python</h2>
							<div class="base_cinza">
								<div class="cor_largura" style="width:60%"></div>
							</div>
						</div>

						<div class="box_skills">
							<h2>JavaScript</h2>
							<div class="base_cinza">
								<div class="cor_largura" style="width:60%"></div>
							</div>
						</div>

						<div class="box_skills">
							<h2>Git</h2>
							<div class="base_cinza">
								<div class="cor_largura" style="width:80%"></div>
							</div>
						</div>
					</div>
					<br/>
					<div class="box_branco">
						<h1>Education</h1>
						<p>Técnologo - Análise e Desenvolvimento de Sistemas</p>
						<p>FMU 2020 à 2023</p>
					</div>

				</div>
			</main>
		</div>
	</section>

	<footer id="footer">
		<div class="container">
			Erik Lopes do Nascimento - Data Enginering e DevOps &copy; 2025	</div>
	</footer>
</body>

</html>