*{box-sizing:border-box;}
html, body {
	font-family: 'Sen', sans-serif;
	font-size:16px;
	line-height:26px;
	min-width:100%;
	padding:0;
	margin:0;
	
}

img {border:0; max-width:100%;}
a {text-decoration:none;}
hr {border-bottom:0; border-top:1px solid #e1dddd;}

header, nav, section, footer {display:block;}

h1, h2, h3, h4, h5, h6 {
	padding:0;
	margin:0;
}

.container {
	margin-left:auto;
	margin-right:auto;
	max-width:1200px;
}

.container:before,
.container:after {
  content:'.';
  display:block;
  overflow:hidden;
  visibility:hidden;
  font-size:0;
  line-height:0;
  width:0;
  height:0;
}

.container:after {clear:both;}
.container {zoom:1;}

.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
}

input:focus {outline:none;}
select:focus{outline:none;}
textarea:focus {outline:none;}
textarea {resize:none;}
label {display:block;}


.erro,
.sucesso {padding:15px; border-radius:5px; margin:10px 0; display:block;}

.erro {background:#FFC1C1; color:#000; border:1px solid #f57777;}
.sucesso {background:#66ac54; color:#FFF;}